body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

header{
text-align:center;
padding:50px;
background:black;
}

nav{
text-align:center;
background:#1c1c1c;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:40px;
}

.card, .music-card{
background:#1c1c1c;
padding:20px;
margin:10px 0;
border-radius:10px;
}
.artist{
text-align:center;
margin:20px;
}

.artist img{
border-radius:50%;
width:150px;
}

h1{
text-align:center;
}

.artist-card{
position:relative;
width:250px;
height:300px;
overflow:hidden;
border-radius:10px;
}

.artist-card img{
width:100%;
height:100%;
object-fit:cover;
filter:brightness(70%);
}

.artist-info{
position:absolute;
bottom:0;
left:0;
padding:15px;
color:white;
}

.artist-list{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.social-fixed{
position:fixed;
top:10px;
right:20px;
display:flex;
flex-direction:column;
gap:10px;
z-index:999;
}

.social-fixed img{
width:20px;
height:20px;
filter:brightness(0) invert(1);
transition:0.3s;
cursor:pointer;
}

.social-fixed img:hover{
transform:scale(1.2);
filter:brightness(0) invert(1) drop-shadow(0 0 5px white);
}
