body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

header{
text-align:center;
padding:50px;
background:black;
}

nav{
text-align:center;
background:#1c1c1c;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

section{
padding:40px;
}

.card, .music-card{
background:#1c1c1c;
padding:20px;
margin:10px 0;
border-radius:10px;
}
.artist{
text-align:center;
margin:20px;
}

.artist img{
border-radius:50%;
width:150px;
}

h1{
text-align:center;
}

.artist-card{
position:relative;
width:250px;
margin:20px;
overflow:hidden;
border-radius:10px;
}

.artist-card img{
width:100%;
height:300px;
object-fit:cover;
filter:brightness(70%);
transition:0.3s;
}

.artist-info{
position:absolute;
bottom:0;
left:0;
padding:15px;
color:white;
}

.artist-card:hover img{
transform:scale(1.1);
filter:brightness(100%);
}
